{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="dashboard-container">

    <div class="dashboard-top">

        <div>
            <h1>Welcome {{ user }} 🎬</h1>
            <p class="dashboard-subtitle">Search movies, explore trending titles, and save your favorites.</p>
        </div>

        <div class="dashboard-actions">

            <a href="/favorites">
                <button>My Favorites</button>
            </a>

            <a href="/recommended">
                <button>Recommended</button>
            </a>

            <a href="/logout">
                <button>Logout</button>
            </a>

        </div>

    </div>


    <form method="GET" action="/dashboard" class="search-form">
        <input type="text" name="search" placeholder="Search movie...">
        <button type="submit">Search</button>
    </form>


    <div class="movies-grid">

        {% for movie in movies %}

        <div class="movie-card">

            <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}">

            <div class="movie-info">
                <h3>{{ movie.title }}</h3>

                <form method="POST" action="/add_favorite">
                    <input type="hidden" name="movie_title" value="{{ movie.title }}">
                    <button type="submit">Add Favorite</button>
                </form>
            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}