{% extends "base.html" %}

{% block title %}Login & Register{% endblock %}

{% block content %}

<div class="auth-box">

    <div class="register-side">
        <h1>Register</h1>
   

        <form method="POST" action="/register">
            {{ register_form.hidden_tag() }}

            {{ register_form.username.label }}
            {{ register_form.username() }}

            {{ register_form.password.label }}
            {{ register_form.password() }}

            {{ register_form.submit() }}
        </form>
    </div>

    <div class="login-side">
        <h1>Login</h1>


        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST" action="/login">
            {{ login_form.hidden_tag() }}

            {{ login_form.username.label }}
            {{ login_form.username() }}

            {{ login_form.password.label }}
            {{ login_form.password() }}

            {{ login_form.submit() }}
        </form>
    </div>

</div>

{% endblock %}